.mySellerArea{
    margin-top: 4rem;
    background-color: hsl(180, 8%, 92%);
    padding: 2rem;

    .sellerAreaLinks{
        p{
                .link{
            color: blue;
        }
        }
        
    }
}