.formRow {
  display: inline-block;
  
  width: 100%;

  label {
    
    display:block;
    width: 100%;
    text-align: left;
   
  }

  select {
    
    display: block;
    max-width: 126px; 
    float: left;
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 400;
    text-align: left;
    padding: 5px 0px;
    margin: 5px 0;
    border-radius: 1rem;
    background-color: #EAEDED;
    border: none;
    outline: none;
    cursor: pointer;
    
    &:hover{
      background-color: whitesmoke ;
    }
    
  }
  option{
    display: inline-block;
    width: 50%
  }
}